.parImg img{
    width: 25%;
    height: auto;
}

.navbar {
    /* Your default navbar styles here */
    background-color: transparent;
    /* Additional styles... */
  }
  
  .navbar.scrolled {
    /* Your scrolled navbar styles here */
    box-shadow: rgba(75, 73, 73, 0.3) 0px 19px 38px, rgba(100, 96, 96, 0.22) 0px 15px 12px;
    background: transparent;
  backdrop-filter: blur(10px); /* Change this to your desired background color */
    /* Additional styles... */
  }